$footer-height: 120px;

* {
    margin: 0;
}
html, body {
    height: 100%;
}
#site-body {
    min-height: 100%;
    margin: 0 auto ($footer-height * -1); /* the bottom margin is the negative value of the footer's height */
}
#site-footer, #site-footer-push {
    height: $footer-height; /* '.push' must be the same height as 'footer' */
}

/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/
